<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gu.Localization" version="6.4.2.0" targetFramework="net461" />
  <package id="Gu.Localization.Analyzers" version="0.2.2.6" targetFramework="net461" developmentDependency="true" />
  <package id="Gu.Wpf.PropertyGrid" version="2.3.0.0" targetFramework="net461" />
  <package id="Gu.Wpf.ValidationScope" version="0.1.0.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net461" />
  <package id="Optional" version="4.0.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="VanceStubbs" version="1.0.1" targetFramework="net461" />
</packages>